aside {
  display: none;
}

article {
  width: 100%;
}

@media (min-width: 60em) {
  aside {
    position: fixed;
    display: block;
    background: hsl(var(--clr-white));
    width: 18%;
    height: auto;
  }

  aside ul {
    height: 85vh;
    overflow: auto;
  }

  aside ul::-webkit-scrollbar,
  article::-webkit-scrollbar {
    width: 10px;
  }

  aside ul::-webkit-scrollbar-track,
  article::-webkit-scrollbar-track {
    background: hsl(var(--clr-white));
  }

  aside ul::-webkit-scrollbar-thumb,
  article::-webkit-scrollbar-thumb {
    background: hsl(var(--clr-red));
  }

  aside ul {
    padding: 0;
    margin: 0;
  }

  article {
    width: 82%;
    position: fixed;
    inset: 15% 0 0 18%;
    overflow: auto;
  }

  .getting-started,
  .components-title {
    padding: 0 0 0 0.5rem;
    margin-bottom: 0;
  }

  .secondary-navigation a {
    color: hsl(var(--clr-dark));
    padding: 1.5rem 0rem 1.5rem 0.5rem;
    display: inline-block;
    width: 100%;
  }

  .secondary-navigation a:hover {
    cursor: pointer;
    background: hsl(var(--clr-light));
  }
}
