.picture-information {
  margin-top: 0 !important;
  width: 100% !important;
}

.responsive-pictures {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  width: 80%;
}

@media (min-width: 75rem) {
  .responsive-pictures {
    grid-template-columns: repeat(2, 1fr);
  }
  .picture-information {
    align-self: start;
  }
}

.image_wrapper {
  width: 30%;
  aspect-ratio: 1;
  margin: 0;
}

.responsive-round-picture {
  gap: 1rem;
  display: flex;
  margin-bottom: 1rem;
  width: 80%;
}

.responsive-round-image {
  border-radius: 50%;
  object-fit: cover;
}

.picture-round-information {
  align-self: flex-end;
  width: 70% !important;
}

@media (max-width: 60em) {
  .responsive-pictures {
    width: 100%;
  }
}
