.picture-information {
  margin-top: 0 !important;
  width: 100% !important;
}

.responsive-pictures {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  width: 75%;
}

@media (min-width: 75rem) {
  .responsive-pictures {
    grid-template-columns: repeat(2, 1fr);
  }
  .picture-information {
    align-self: start;
  }
}
