.grid {
  display: grid;
  width: 80%;
  height: auto;
}

.grid-row-5 {
  grid-template-rows: repeat(5, 1fr);
}

.grid-row-4 {
  grid-template-rows: repeat(4, 1fr);
}

.grid-row-3 {
  grid-template-rows: repeat(3, 1fr);
}

.grid-row-2 {
  grid-template-rows: repeat(2, 1fr);
}

.grid-row-1 {
  grid-template-rows: repeat(1, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  padding: 1rem;
  border: 2px solid hsl(var(--clr-white));
}

.grid-size {
  height: 50vh;
  overflow: auto;
  resize: both;
  margin-bottom: 1rem;
}

.grid-size > * {
  border: 0.5px solid hsl(var(--clr-dark));
}

@media (min-width: 0) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }
}

@media (min-width: 10rem) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  }
}

@media (min-width: 20em) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  }
}

@media (min-width: 30em) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}

@media (min-width: 45em) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

@media (min-width: 60em) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@media (min-width: 75em) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media (min-width: 110em) {
  .grid-autofit-breaks {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

@media (max-width: 60em) {
  .grid {
    width: 100%;
  }
}

.grid-card {
  width: 20%;
  aspect-ratio: 1;
}

.grid-stacked > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.g-4lg-2md-1sm {
  grid-template-columns: repeat(4, 1fr);
}

.g-6lg-3md-2sm {
  grid-template-columns: repeat(6, 1fr);
}

.g-12xlg-9lg-6md-3sm-1xsm {
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 90em) {
  .g-12xlg-9lg-6md-3sm-1xsm {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media (max-width: 60em) {
  .g-12xlg-9lg-6md-3sm-1xsm {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 50em) {
  .g-12xlg-9lg-6md-3sm-1xsm {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 35em) {
  .g-12xlg-9lg-6md-3sm-1xsm {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 60em) {
  .g-4lg-2md-1sm {
    grid-template-columns: repeat(2, 1fr);
  }

  .g-6lg-3md-2sm {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 40em) {
  .g-4lg-2md-1sm {
    grid-template-columns: repeat(1, 1fr);
  }

  .g-6lg-3md-2sm {
    grid-template-columns: repeat(2, 1fr);
  }
}
