/* * HEADER STYLES  */

header {
  background: hsl(var(--clr-white));
}

.header-container {
  padding: 1rem 2rem 2rem 2rem;
}

.header-title {
  width: fit-content;
  z-index: 9999;
}

@media (min-width: 60em) {
  header {
    height: 15vh;
  }
}

@media (max-width: 60em) {
  .header-title {
    align-self: center;
  }
}

.container {
  padding-inline: 5rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 2rem;
  text-decoration: underline;
}

i {
  height: fit-content;
  width: fit-content;
}

section {
  width: 100%;
}

.information {
  background: hsl(var(--clr-white) / 0.9);
  color: hsl(var(--clr-dark) / 0.9);
  padding: 1rem;
  margin: 1rem 0;
  width: 80%;
}

.information > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.alert-information span {
  padding: 0.25rem;
}

.alert-information > * {
  margin: 1rem;
}

.usage-heading {
  margin-top: 2rem;
}

.code {
  margin: 1rem 0 0 0;
  overflow: auto;
  padding: 5rem;
  background: hsl(var(--clr-white));
  border: 3px solid hsl(var(--clr-dark));
}

code {
  font-family: inherit;
}

.code-toolbar::-webkit-scrollbar {
  width: 5px;
}

.language-html::-webkit-scrollbar {
  height: 2px;
}

.code-toolbar::-webkit-scrollbar-track,
.language-html::-webkit-scrollbar-track {
  background: hsl(var(--clr-white));
}

.code-toolbar::-webkit-scrollbar-thumb,
.language-html::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-dark));
}

.language-html {
  margin: 0 !important;
}

.primary-colors,
.primary-colors-light,
.primary-colors-dark {
  gap: 0.125rem;
}

.primary-colors-light {
  background-color: hsl(var(--clr-light));
}

.primary-colors-dark {
  background-color: hsl(var(--clr-white));
  margin-bottom: 1rem;
}

.clr-hsl {
  align-self: flex-end;
  border: 3px solid hsl(var(--clr-dark));
  padding: 0.25rem;
}

.primary-color-white,
.primary-color-dark,
.primary-color-red,
.primary-color-light,
.primary-color-blue,
.primary-color-green,
.primary-color-yellow,
.primary-color-light {
  width: 100%;
  aspect-ratio: 1.15/1;
}

/* typography */

.typography {
  margin-bottom: 1rem;
}

.typography-subheading {
  padding: 2rem;
  background: hsl(var(--clr-white));
  width: 80%;
}

.font-sizes > p {
  margin-bottom: 1rem;
}

.font-sizes {
  padding: 2rem;
  margin-bottom: 1rem;
  width: 80%;
}

.text-utilities {
  margin-bottom: 1rem;
}

.text-utilities h3 {
  margin-bottom: 1rem;
}

.text-colors {
  padding: 2rem;
  width: 80%;
}

.text-colors > * {
  margin-bottom: 1rem;
}

.center-text {
  padding: 2rem;
  width: 80%;
}

@media (max-width: 60em) {
  .center-text,
  .typography-subheading,
  .font-sizes,
  .text-colors,
  .information {
    width: 100%;
  }
}

footer {
  padding: 2rem;
}

.usage-information {
  margin-bottom: 1rem;
}
