@import "./default.css";
@import "./Components/Navigation/Navigation.css";
@import "./Components/Aside/Aside.css";
@import "./Components/Avatars/Avatars.css";
@import "./Components/Alerts/Alerts.css";
@import "./Components/Cards/Cards.css";
@import "./Components/Buttons/Buttons.css";
@import "./Components/Form/Form.css";
@import "./Components/Lists/Lists.css";
@import "./Components/Modal/Modal.css";

/* HEADER STYLES */

header {
  background: hsl(var(--clr-light));
}

.header-container {
  position: relative;
  padding: 1rem 2rem;
}

.header-title {
  width: fit-content;
  z-index: 9999;
}

@media (min-width: 60em) {
  header {
    background: hsl(var(--clr-white));
  }
}

.container {
  padding-inline: 5rem;
  margin-inline: auto;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 2rem;
  text-decoration: underline;
}

i {
  height: fit-content;
  width: fit-content;
}

section {
  width: 100%;
}

.information {
  background: hsl(var(--clr-white) / 0.9);
  color: hsl(var(--clr-dark) / 0.9);
  padding: 1rem;
  margin: 1rem 0 2rem 0;
  width: 70%;
}

.information > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.alert-information span {
  padding: 0.25rem;
}

.alert-information > * {
  margin: 1rem;
}

.code {
  margin: 1rem 0 0 0;
  overflow: auto;
  padding: 5rem;
  background: hsl(var(--clr-white));
  border: 3px solid hsl(var(--clr-dark));
}

code {
  font-family: inherit;
}

.code::-webkit-scrollbar {
  width: 10px;
}

.code::-webkit-scrollbar-track {
  background: hsl(var(--clr-white));
}

.code::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-dark));
}
