.toast-notification {
  position: fixed;
  inset: 5% 20% 84% 24%;
}

.btn-toast {
  margin: 0;
}

.toast-notification[data-visible="true"] {
  display: block;
}

.toast-notification[data-visible="false"] {
  display: none;
}

@media (max-width: 60em) {
  .toast-notification {
    inset: 5% 20% 84% 3%;
  }
}

@media (max-width: 45em) {
  .toast-notification {
    inset: 5% 20% 90% 3%;
  }
}
