.form-login {
  background: hsl(var(--clr-white) / 0.7);
  padding: 2rem;
  width: 60%;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.25rem;
}

.form__checkbox {
  display: inline;
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0;
}

.btn-signUp {
  padding: 1rem 3rem;
  margin: 1rem 0 0 0;
  display: block;
}

.confirm-password small {
  display: block;
  color: hsl(var(--clr-red));
  margin-bottom: 1rem;
}

.code-form {
  height: 40vh;
  width: 70%;
}

.form-textonly-body {
  padding: 1rem;
  background: hsl(var(--clr-white) / 0.9);
  width: 60%;
  margin: 2rem 0 0 2rem;
}

.form-textonly-body > * {
  margin-bottom: 1rem;
}

.information-form > * {
  margin-bottom: 1rem;
}
