.home-navigation {
  gap: 2rem;
}

@media (max-width: 40rem) {
  .home-navigation {
    gap: 0;
  }
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  display: none;
}

.primary-navigation a {
  color: hsl(var(--clr-white));
}

.side-navigation > * {
  margin-left: 1rem;
}

.demo-nav-toggle {
  display: block;
  z-index: 2000;
  background: hsl(var(--clr-dark));
  background-image: url(../../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  aspect-ratio: 1;
  border: 0;
}

.nav {
  margin-bottom: 1rem;
}

@media (max-width: 60em) {
  .mobile-nav-toggle {
    display: block;
    z-index: 2000;
    background: hsl(var(--clr-dark));
    background-image: url(../../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    align-self: center;
    border: 0;
    margin: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../../images/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid hsl(var(--clr-white));
    outline-offset: 5px;
  }

  .primary-navigation {
    position: fixed;
    width: 100%;
    z-index: 1000;
    inset: 0 0 0 30%;
    list-style: none;
    padding: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(100%);
    background: hsl(var(--clr-dark));
    transition: transform 500ms ease-in-out;
    justify-content: center;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(-30%);
  }

  .linkto-github {
    margin: 0 1rem;
  }
}
