.alert-container {
  width: 100%;
}

.alert {
  max-width: 60%;
  padding: 1.25rem;
  display: flex;
}

.alert-message {
  margin: 0 1rem;
}

.alert .fa-times {
  cursor: pointer;
  margin-left: auto;
}

.code-alert {
  height: 40vh;
  width: 70%;
}

.alert-information span {
  padding: 0.125rem;
}
